<h1>THIS IS DETAIL PAGE OF THE COMMPANY</h1>

 NAME OF  THE COMPANY {{provider.name}} {{provider.lname}}
 <br>
 OWNER {{provider.id}}
 <br>
 POSITION {{provider.position}}
 <br>
 {{provider.category}}
 <br>
 AGE IS {{provider.age}}