<h1>THIS IS DETAIL PAGE OF THE COMMPANY</h1>

 <input value={{providers.name}}>
 <br>
 OWNER {{id}}
 <br>
 POSITION {{providers.position}}
 <br>
 {{providers.category}}
 <br>
 AGE IS {{providers.age}}
 <br>
 CATEGORY IS {{providers.category}}
 <br>
 POSITION IS {{providers.position}}
 <br>
 COMPANY DETAILS BELOW OF {{providers.company.name}}
 <br>
 {{providers.company.date}}